<!DOCTYPE html>
<html>

<body>
    <div>
        <ul>
            <% for(var i=0; i< errosValidacao.length;i++) {%>
            <li>
                    <%=errosValidacao[i].param %> - <%= errosValidacao[i].msg %>
            </li>
            <%}%>
        </ul>
    </div>
    <form action="/produtos" method="POST">
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" value="<%=produto.titulo%>" placeholder="coloque o titulo" />
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" name="preco" value="<%=produto.preco%>" placeholder="0.00" />
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="fale sobre o livro"><%=produto.descricao%></textarea>
        </div>
        <input type="submit" value="Salvar" />
    </form>
</body>

</html>